@model IEnumerable<EasyEGE.DAL.Entities.Option>

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id варианта
            </th>
            <th>
                Id предмета
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                <a asp-action="Variant" asp-controller="Subject" asp-route-optionId="@item.Id">Открыть</a>
            </td>
        </tr>
}
    </tbody>
</table>
